@page "/service/courses"
@rendermode InteractiveServer

<PageTitle>Formação</PageTitle>

<!-- Pricing Section -->
<section id="pricing" class="pricing section section-bg dark-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Nossos Cursos</h2>
        <p>Oferecemos cursos de qualidade em tecnologia de informação.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row g-4 g-lg-0">

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-item">
                    <h3>Excel para Finanças</h3>
                    <h4><sup>$</sup>32.000,00<span> / 4 semanas</span></h4>
                    <ul>
                        <li class="na"><i class="bi bi-check"></i> <span>100% Online</span></li>
                        <li><i class="bi bi-check"></i> <span>Organização e Análise de Dados:</span></li>
                        <li><i class="bi bi-check"></i> <span>Automação de Processos Financeiros</span></li>
                        <li class="na"><i class="bi bi-x"></i> <span>Tomada de Decisões Informadas</span></li>
                        <li class="na"><i class="bi bi-x"></i> <span>Projecto Final</span></li>
                    </ul>
                    <div class="text-center"><a href="#" class="buy-btn">Inscrever-se</a></div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4 featured" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item">
                    <h3>Web devellopment Care</h3>
                    <h4><sup>$</sup>25.00,00<span> / 5 semanas</span></h4>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>100% Online</span></li>
                        <li><i class="bi bi-check"></i> <span>Certificação e Mentoria</span></li>
                        <li><i class="bi bi-check"></i> <span>4 Modulos Completos</span></li>
                        <li><i class="bi bi-check"></i> <span>Projecto Web Real</span></li>
                        <li><i class="bi bi-check"></i> <span>Versionamento e Domiciliação</span></li>
                    </ul>
                    <div class="text-center"><a href="#" class="buy-btn">Inscrever-se</a></div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-item">
                    <h3>Orçamento Pessoal</h3>
                    <h4><sup>$</sup>15.000,00<span> / 3 semanas</span></h4>
                    <ul>
                        <li class="na"><i class="bi bi-check"></i> <span>100% Online</span></li>
                        <li><i class="bi bi-check"></i> <span>Certificação</span></li>
                        <li><i class="bi bi-check"></i> <span>Consultoria</span></li>
                        <li><i class="bi bi-check"></i> <span>Conta VISA Revolut</span></li>
                        <li><i class="bi bi-check"></i> <span>Projecto Final</span></li>
                    </ul>
                    <div class="text-center"><a href="#" class="buy-btn">Inscrever-se</a></div>
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>

</section><!-- /Pricing Section -->

@code {

}
