@page "/"

<PageTitle>Home</PageTitle>


<!-- Hero Section -->
<section id="hero" class="hero section">

    <img src="assets/img/wwRIDuPRd_w.jpg" alt="" data-aos="fade-in">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 data-aos="fade-up" data-aos-delay="100">Experiência digital incomparável com Afenix</h2>
                <p data-aos="fade-up" data-aos-delay="200">Somos uma equipe de especialistas apaixonados por inovação, oferecendo soluções completas em tecnologia, design e desenvolvimento de sistemas. Transforme suas ideias em realidade com a Afenix!</p>
                <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                    <a href="#about" class="btn-get-started">Começar uma carreira</a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Solicitar Orçamento</span></a>
                </div>

            </div>
        </div>
    </div>

</section><!-- /Hero Section -->
<!-- Clients Section -->
<section id="clients" class="clients section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 2,
                      "spaceBetween": 40
                    },
                    "480": {
                      "slidesPerView": 3,
                      "spaceBetween": 60
                    },
                    "640": {
                      "slidesPerView": 4,
                      "spaceBetween": 80
                    },
                    "992": {
                      "slidesPerView": 6,
                      "spaceBetween": 120
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/logo_color.svg" width="100" class="img-fluid" alt=""></div>
        
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Clients Section -->
<!-- About Section -->
<section id="about" class="about section section-bg dark-background">

    <div class="container position-relative">

        <div class="row gy-5">

            <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
                <h3>Quem somos?</h3>
                <p>
                    Afenix Tecnologias e Inovação é uma empresa dedicada a fornecer soluções inovadoras em várias áreas tecnológicas. Fundada em 2022 por Adilson Xavier Fernando, nossa missão é transformar ideias em realidade através de serviços de alta qualidade
                </p>
                <a href="#" class="about-btn align-self-center align-self-xl-start"><span>Contacte-nos</span> <i class="bi bi-chevron-right"></i></a>
            </div>

            <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">

                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-briefcase"></i>
                        <h4><a href="" class="stretched-link">Missão</a></h4>
                        <p>Prover soluções tecnológicas de alta qualidade que impulsionem a transformação digital e o desenvolvimento sustentável das organizações.</p>
                    </div><!-- Icon-Box -->

                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-gem"></i>
                        <h4><a href="" class="stretched-link">Visão</a></h4>
                        <p>Ser referência em inovação tecnológica e excelência em serviços, contribuindo para o crescimento e sucesso de nossos clientes e parceiros.</p>
                    </div><!-- Icon-Box -->

                   

                </div>
            </div>

        </div>

    </div>

</section><!-- /About Section -->
<!-- Stats Section -->
<section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-emoji-smile"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clientes Satisfeitos</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-journal-richtext"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projectos</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-headset"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Horas de Suporte</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-people"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Trabalhadores Incansaveis</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->
<!-- Services Section -->
<section id="services" class="services section section-bg dark-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Nossos Serviços</h2>
        <p>Oferecemos serviços em:</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item d-flex position-relative h-100">
                    <i class="bi bi-briefcase icon flex-shrink-0"></i>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">Tecnologia</a></h4>
                        <p class="description">Desenvolvimento de sistemas computacionais personalizados para atender às necessidades específicas de cada cliente</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item d-flex position-relative h-100">
                    <i class="bi bi-card-checklist icon flex-shrink-0"></i>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">Gráfica e Publicidade</a></h4>
                        <p class="description">Criação de identidades visuais impactantes, materiais gráficos, e publicidade.<br />Produção de materiais impressos e campanhas publicitárias eficazes.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item d-flex position-relative h-100">
                    <i class="bi bi-bar-chart icon flex-shrink-0"></i>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">Formação Profissional</a></h4>
                        <p class="description">Cursos e treinamentos para capacitar profissionais em diversas áreas tecnológicas.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item d-flex position-relative h-100">
                    <i class="bi bi-binoculars icon flex-shrink-0"></i>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">Venda de equipamentos Informáticos e Consumíveis de escritório</a></h4>
                        <p class="description">Comércio de equipamentos de informática de alta performance.<br />Fornecemos consumíveis para auxiliar os trbalhos administrativos de seu escritório.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item d-flex position-relative h-100">
                    <i class="bi bi-brightness-high icon flex-shrink-0"></i>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">Assistencia Técnica em Informática</a></h4>
                        <p class="description">Suporte técnico e manutenção de sistemas e equipamentos.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item d-flex position-relative h-100">
                    <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">Importação e Exportação</a></h4>
                        <p class="description">Facilitação de negócios internacionais com foco em tecnologia.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->
<!-- Faq Section -->
<section id="faq" class="faq section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Perguntas frequentes</h2>
        <p>O que as pessoais sempre procuram saber sobre a afenix</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

                <div class="faq-container">

                    <div class="faq-item faq-active">
                        <h3>Quais serviços a Afenix Tecnologias e Inovação oferece?</h3>
                        <div class="faq-content">
                            <p>Oferecemos serviços em tecnologias, design gráfico, gráfica e publicidade, desenvolvimento de sistemas computacionais, formação profissional, venda de equipamentos informáticos, importação e exportação, e assistência técnica em informática.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Como posso solicitar um orçamento?</h3>
                        <div class="faq-content">
                            <p>Você pode solicitar um orçamento através do nosso site, preenchendo o formulário de contato, ou enviando um e-mail diretamente para nossa equipe de vendas.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Quais são os horários de atendimento?</h3>
                        <div class="faq-content">
                            <p>Nosso horário de atendimento é de segunda a sexta-feira, das 9h às 18h. Nos fins de semana e feriados, atendemos apenas emergências via nosso suporte técnico.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>A empresa oferece suporte técnico remoto?</h3>
                        <div class="faq-content">
                            <p>Sim, oferecemos suporte técnico remoto para resolver problemas rapidamente e minimizar o tempo de inatividade dos nossos clientes.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Quais são as formas de pagamento aceitas?</h3>
                        <div class="faq-content">
                            <p>Aceitamos pagamentos via transferência bancária, cartões de crédito, e boletos bancários.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>A Afenix Tecnologias e Inovação realiza entregas internacionais?</h3>
                        <div class="faq-content">
                            <p>Sim, realizamos importação e exportação de equipamentos informáticos para diversos países, conforme a necessidade do cliente.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Como funciona a formação profissional na Afenix Tecnologias e Inovação?</h3>
                        <div class="faq-content">
                            <p>Nossos cursos de formação profissional são ministrados tanto de forma presencial quanto virtual, utilizando ferramentas como Telegram, Zoom, e Skype. Os preços variam conforme o curso escolhido.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Quais cursos estão atualmente disponíveis?</h3>
                        <div class="faq-content">
                            <p>Atualmente, oferecemos cursos de Carreira de Desenvolvimento Web, Informática Básica, Design Gráfico, Excel para Finanças, Excel para Recursos Humanos, e Contabilidade Financeira.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Como posso me inscrever nos cursos de formação profissional?</h3>
                        <div class="faq-content">
                            <p>As inscrições podem ser feitas diretamente em nosso site, na seção de formação profissional, onde você encontrará todos os cursos disponíveis e o formulário de inscrição.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>A empresa oferece garantias nos produtos vendidos?</h3>
                        <div class="faq-content">
                            <p>Sim, todos os nossos produtos possuem garantia. O prazo e as condições de garantia variam conforme o fabricante e o tipo de produto.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Posso acompanhar o status do meu pedido?</h3>
                        <div class="faq-content">
                            <p>Sim, ao fazer um pedido, você receberá um código de acompanhamento que pode ser usado em nosso site para verificar o status da entrega.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Como entrar em contato com o suporte técnico?</h3>
                        <div class="faq-content">
                            <p>Para entrar em contato com nosso suporte técnico, você pode ligar para nossa central de atendimento ou enviar um e-mail detalhando o problema. Nossos técnicos estão prontos para ajudar.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                </div>


            </div><!-- End Faq Column-->

        </div>

    </div>

</section><!-- /Faq Section -->