<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/" class="logo d-flex align-items-center">
                    <span class="sitename">Afenix Tecnologias & Inovação</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Rua Deolinda Rodrigues, 3ª</p>
                    <p>Luena, Saidy Mingas</p>
                    <p class="mt-3"><strong>Phone:</strong> <span>+244 924 859 197 | +244 948 716 138</span></p>
                    <p><strong>Email:</strong> <span><a href="mailto:afenix.devellopment@gmail.com" target="_blank">afenix.devellopment@gmail.com</a></span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Links</h4>
                <ul>
                    <li><NavLink href="/">Início</NavLink></li>
                    <li><NavLink href="/about">Sobre Nós</NavLink></li>
                    <li><NavLink href="/service">Serviços</NavLink></li>
                    <li><NavLink href="/terms">Termos de serviço</NavLink></li>
                    <li><NavLink href="/policy">Políticas de Privacidade</NavLink></li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12 footer-links">
                <h4>Nossos Serviços</h4>
                <ul>
                    <li><NavLink href="/service/grapgic">Gráfica e Publicidade</NavLink></li>
                    <li><NavLink href="/service/itservice">Venda e Desenvolvimento de Software</NavLink></li>
                    <li><NavLink href="/service/informatic">Distribuição de Equipamentos Informáticos</NavLink></li>
                    <li><NavLink href="/service/products">Consumíveis de Escritório e Livros de Factura</NavLink></li>
                    <li><NavLink href="/service/courses" Match="NavLinkMatch.Prefix">Formação Profissional</NavLink></li>
                </ul>
            </div>



        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Afenix Tecnologias e Inovação Lda</strong> <span>Todos direitos reservados.</span></p>
    </div>

</footer>
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

@code {

}
