
<div class="container-fluid container-xl position-relative d-flex align-items-center">

    <NavLink href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/logo_color.svg" alt="">
        @*  <h1 class="sitename">afenix</h1> *@
        <span>.</span>
    </NavLink>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><NavLink Match="NavLinkMatch.All" href="">Início<br></NavLink></li>
            <li><NavLink href="/about">Quem somos?</NavLink></li>
            <li><NavLink href="/portfolio">Portfolio</NavLink></li>
            <li><NavLink href="/team">Team</NavLink></li>
           
            <li class="dropdown">
                <NavLink href="/service" Match="NavLinkMatch.Prefix"><span>Nossos Serviços</span> <i class="bi bi-chevron-down toggle-dropdown"></i></NavLink>
                <ul>
                    <li><NavLink href="/service/graphic">Gráfica e Publicidade</NavLink></li>
                    <li><NavLink href="/service/courses">Formação Profissional</NavLink></li>
                    <li><NavLink href="/service/consultory">Consultoria</NavLink></li>
                    <li><NavLink href="/service/itservice">Serviços de TI</NavLink></li>
                    
                </ul>
            </li>
            <li><NavLink href="/contact">Contactos</NavLink></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <NavLink class="btn-getstarted" href="/subscribe">Inscrição</NavLink>

</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
